<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script
			src="https://kit.fontawesome.com/fc33bdc8f2.js"
			crossorigin="anonymous"
		></script>

		<title>Polyhouse</title>
		<style>
			* {
				font-family: "Poppins";
			}
			.card {
				/* Add shadows to create the "card" effect */
				box-shadow: 0 4px 8px 0 rgba(52, 70, 41, 0.712);
				transition: 0.3s;
			}

			/* On mouse-over, add a deeper shadow */
			.card:hover {
				box-shadow: 0 8px 16px 0 rgba(9, 184, 9, 0.767);
			}
		</style>
		<style>
			body {
				min-height: 100vh;
				margin: 0;
				display: flex;
				flex-direction: column;
			}

			.container-fluid {
				flex: 1;
			}

			footer {
				/* Sticky footer styles */
				position: sticky;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.05);
				width: 100%;
			}
		</style>
	</head>
	<body ng-app="myapp" ng-controller="myctrl">
		<!-- modal -->
		<div
			class="modal fade"
			id="myModal"
			tabindex="-1"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Message ✉</h5>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body text-center">
						<h5 class="h5">
							{{ message }}
						</h5>
					</div>
					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal"
						>
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- modal -->

		<nav class="navbar navbar-expand-lg navbar-dark bg-success p-2">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Polyhouse</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/home"
								>Home 🏠</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/logout"
								>Logout</a
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-9">
					<div class="row">
						<div class="col">
							<div
								class="card mt-4 border border-dark"
								data-aos="zoom-out"
								data-aos-delay="600"
							>
								<div class="card-body">
									<h3 class="card-title">Change Poly House Settings ⚙</h3>
									<sub class="text-muted">Polyhouse Unique Id: - <%= id %></sub>
									<div class="mb-3">
										<label class="form-label">Reference Temperature</label>
										<input
											class="form-control"
											type="number"
											placeholder="Enter Temprature "
											ng-model="temp"
											max="100"
										/>
									</div>
									<div class="mb-3">
										<label class="form-label">Reference Humidity</label>
										<input
											class="form-control"
											type="number"
											placeholder="Enter Humidity "
											ng-model="humidity"
											max="100"
										/>
									</div>
									<div class="mb-3">
										<label class="form-label">Reference Moisture</label>
										<input
											class="form-control"
											type="number"
											placeholder="Enter Moisture "
											ng-model="moisture"
											max="100"
										/>
									</div>
									<button
										class="btn btn-outline-success"
										ng-click="updateall();"
									>
										Update
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6">
									<div
										class="card mt-2"
										data-aos="fade-right"
										data-aos-delay="500"
									>
										<div class="card-body">
											<h4 class="h4" ng-init="getrefvalues();">
												Reference Data.
											</h4>
											<table class="table">
												<tbody>
													<tr>
														<th scope="row">Temp 💨</th>
														<td>{{ refvalues.re_temp }}<sub>degree</sub></td>
													</tr>
													<tr>
														<th scope="row">Humidity 💧</th>
														<td>
															{{ refvalues.re_humidity }} <sub>Percent</sub>
														</td>
													</tr>
													<tr>
														<th scope="row">Moisture ❄</th>
														<td>
															{{ refvalues.re_soilmoisture }} <sub>percent</sub>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div
										class="card mt-2"
										data-aos="fade-right"
										data-aos-delay="500"
									>
										<div class="card-body">
											<h4 class="h4">
												Status:
												<span
													><button class="btn btn-outline-primary">
														<i class="fas fa-spinner fa-spin"></i></button
												></span>
											</h4>
											<table
												class="table"
												ng-init="makechangeincurrentvalues()"
											>
												<tbody>
													<tr>
														<th scope="row">Fan 💨</th>
														<td>
															{{
																currentstatusofperiph.cu_temp >=
																currentstatusofperiph.re_temp
																	? "✅"
																	: "❌"
															}}
														</td>
													</tr>
													<tr>
														<th scope="row">Water Valve 💧</th>
														<td>
															{{
																currentstatusofperiph.cu_soilmoisture <=
																currentstatusofperiph.re_soilmoisture
																	? "✅"
																	: "❌"
															}}
														</td>
													</tr>
													<tr>
														<th scope="row">Cooler ❄</th>
														<td>
															{{
																currentstatusofperiph.cu_temp >=
																currentstatusofperiph.re_temp
																	? "✅"
																	: "❌"
															}}
														</td>
													</tr>
													<tr>
														<th scope="row">Sprinkler 🚿</th>
														<td>
															{{
																currentstatusofperiph.cu_humidity >=
																currentstatusofperiph.re_humidity
																	? "✅"
																	: "❌"
															}}
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card mt-2" data-aos="fade-left" data-aos-delay="500">
								<div class="card-body" ng-init="getallcurvalue();">
									<h3 class="h3">
										Current Values
										<button
											class="btn btn-outline-success text-end"
											ng-click="toggleTable('sensor')"
										>
											Sensor Values⬇
										</button>
										<button
											class="btn btn-outline-success text-end"
											ng-click="toggleTable('npk')"
										>
											Rest Sensor Values⬇
										</button>
										<a
											class="btn btn-outline-success text-end"
											href="/download/<%= id %>"
										>
											<i class="fa-solid fa-download"></i>⬇
										</a>
										<br />
									</h3>
									<sub class="text-muted mx-2"
										>Reloaded In Every 20 Seconds
										<i class="fas fa-spinner fa-spin"></i
									></sub>

									<div class="table-responsive">
										<table class="table" ng-show="showSensorTable">
											<thead>
												<tr>
													<th scope="col">Temp</th>
													<th scope="col">Humidity</th>
													<th scope="col">Moisture</th>
													<th scope="col">CO2</th>
													<th scope="col">TimeStamp</th>
												</tr>
											</thead>
											<tbody>
												<tr
													ng-repeat="data in responsefromapi | orderBy: '-date'"
												>
													<td>{{ data.temp }}</td>
													<td>{{ data.humidity }}</td>
													<td>{{ data.moisture }}</td>
													<td>{{ data.co2 }}</td>
													<td>{{ data.date | date: "dd/MM/yyyy h:m:ss a" }}</td>
												</tr>
											</tbody>
										</table>

										<table class="table" ng-show="showNPKTable">
											<thead>
												<tr>
													<th scope="col">N</th>
													<th scope="col">P</th>
													<th scope="col">K</th>
													<th scope="col">LightInt</th>
													<th scope="col">TimeStamp</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="data in responsefromapi | orderBy: '-date'">
													<td>{{ data.N }}</td>
													<td>{{ data.P }}</td>
													<td>{{ data.K }}</td>
													<td>{{ data.lightInt }}</td>
													<td>{{ data.date | date: "dd/MM/yyyy h:m:ss a" }}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="row">
						<img
							src="/img/Organic  Farming.svg"
							class="img-fluid"
							alt=""
							srcset=""
						/>
					</div>
					<div class="row">
						<img
							src="/img/undraw_Designer_by46.svg"
							class="img-fluid"
							alt=""
							srcset=""
						/>
					</div>
				</div>
			</div>
		</div>
		<footer class="bg-body-tertiary text-center mt-4">
			<div class="container p-4 pb-0">
				<section class="mb-4">
					<a
						data-mdb-ripple-init
						class="btn text-white btn-floating m-1"
						style="background-color: #3b5998"
						href="/aboutus"
						role="button"
						><i class="fa-solid fa-address-card"></i
					></a>
					<a
						data-mdb-ripple-init
						class="btn text-white btn-floating m-1"
						style="background-color: #ac2bac"
						href="#!"
						role="button"
						><i class="fab fa-instagram"></i
					></a>
					<a
						data-mdb-ripple-init
						class="btn text-white btn-floating m-1"
						style="background-color: #0082ca"
						href="https://www.linkedin.com/in/pitabas-pradhan-606aa3201/"
						role="button"
						><i class="fab fa-linkedin-in"></i
					></a>
					<a
						data-mdb-ripple-init
						class="btn text-white btn-floating m-1"
						style="background-color: #333333"
						href="https://github.com/pitabasdev"
						role="button"
						><i class="fab fa-github"></i
					></a>
				</section>
			</div>
			<div
				class="text-center p-3 bg-success text-white"
				style="background-color: rgba(0, 0, 0, 0.05)"
			>
				Copyright © 2024 All rights reserved | This made with by
				<a class="text-body" href="https://portfolio-pitabas1977.vercel.app/"
					>PitabasWebDev.com</a
				>
			</div>
		</footer>
		<!-- Optional JavaScript; choose one of the two! -->

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
			crossorigin="anonymous"
		></script>

		<script>
			AOS.init();
			var myModal = new bootstrap.Modal(document.getElementById("myModal"));
			setInterval(function () {
				angular
					.element(document.getElementsByTagName("body"))
					.scope()
					.getallcurvalue();
			}, 20000);
			setInterval(function () {
				angular
					.element(document.getElementsByTagName("body"))
					.scope()
					.makechangeincurrentvalues();
			}, 20000);
		</script>

		<script src="/js/pageforpoly.js"></script>

		<!-- Option 2: Separate Popper and Bootstrap JS -->
		<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
	</body>
</html>
